<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="LogzioAppender" type="Logzio.DotNet.Log4net.LogzioAppender, Logzio.DotNet.Log4net">
        <token>123456789</token>
        <type>log4net</type>
        <listenerUrl>dummy-listener</listenerUrl>
        <bufferSize>100</bufferSize>
        <bufferTimeout>00:00:05</bufferTimeout>
        <retriesMaxAttempts>3</retriesMaxAttempts>
        <retriesInterval>00:00:02</retriesInterval>
        <gzip>true</gzip>
        <debug>false</debug>
        <enableJson>true</enableJson>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="LogzioAppender" />
    </root>
</log4net>