<?xml version="1.0" encoding="utf-8" ?>
<nlog>
    <extensions>
        <add assembly="Logzio.DotNet.NLog"/>
    </extensions>

    <targets>
        <!-- parameters are shown here with their default values. 
            Other than the token, all of the fields are optional and can be safely omitted. -->
        <target name="logzio" type="Logzio"
                token="123456789"
                logzioType="nlog"
                listenerUrl="dummy-listener"
                bufferSize="100"
                bufferTimeout="00:00:05"
                retriesMaxAttempts="3"
                retriesInterval="00:00:02"
                debug="true"
                parseJsonMessage="true"
        >
            <layout includeAllProperties="true"/>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logzio"/>
    </rules>
</nlog>