<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections	>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>


	<log4net debug="true">
		<appender name="LogzioAppender" type="Logzio.DotNet.Log4net.LogzioAppender, Logzio.DotNet.Log4net">
			<token>DKJiomZjbFyVvssJDmUAWeEOSNnDARWz</token>
			<type>log4net</type>
			<listenerUrl>https://listener.logz.io:8071</listenerUrl>
			<bufferSize>1</bufferSize>
			<bufferTimeout>00:00:10</bufferTimeout>
			<retriesMaxAttempts>10</retriesMaxAttempts>
			<retriesInterval>00:00:00.01</retriesInterval>
			<customField>
				<key>SuchCUSTOMKEY</key>
				<value>SoWOW</value>
			</customField>
			<debug>true</debug>
		</appender>

		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogzioAppender" />
			<appender-ref ref="ColoredConsoleAppender" />
		</root>
	</log4net>
</configuration>