name: Unit Tests

on:
  push:
    branches:
      - '**'
      - '!main'
      - '!master'

permissions:
  contents: read

jobs:
  unit-tests:
    name: Unit Tests (.NET 8.0)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0'

      - name: Display dotnet version
        run: dotnet --version

      - name: Install dependencies
        working-directory: ./src
        run: dotnet restore logzio-dotnet.sln

      - name: Build package
        working-directory: ./src
        run: dotnet build logzio-dotnet.sln --configuration Release --no-restore

      - name: Run Unit Tests
        working-directory: ./src
        run: |
          dotnet test ./UnitTests/UnitTests.csproj \
            --configuration Release \
            --no-build \
            --framework net8.0 \
            --logger "console;verbosity=normal"
